.App {
  background-image: url(https://images.unsplash.com/photo-1663454546006-6a51d830feca?auto=format&fit=crop&q=80&w=3308&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center top;
  background-size: cover;
  color: rgb(241, 233, 207);
  font-family: "Sarabun", sans-serif;
}
